body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
#header{
    width: 100%;
    box-shadow: 0 2px 5px #ccc;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 8%;
}
#header>a{
  text-decoration: none;
   color: black;
   cursor: pointer;
}
#main-logo{
  font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 16px;
}
#bold{
font-weight: 800;
}
.nav-item{
  text-decoration: none;
    color: black;
    margin-left: 32px;
    text-transform: uppercase;
    font-weight: 600;
}
input{
  width: 100%;
    border: 1px solid rgb(245, 242, 242);
    background-color: rgb(245, 242, 242);
    box-sizing: border-box;
    padding: 10px 24px 8px 48px;
    color: black;
    outline: none;
}
#header img{
  width: 50px;
    height: 50px;
    border-radius: 50%;
}
#cart-div{
	position: relative;
}
#cart-div>i{
font-size: 20px;
}
#cart-count {
    width: 18px;
    height: 18px;
    font-size: 12px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    background-color: #009688;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -12px;
}
#header i{
  font-weight: 800;
  position: relative;
}
#search-div{
	display: flex;
	border: 1px solid rgb(245, 242, 242);
    background-color: rgb(245, 242, 242);
}
#search-div i {
	padding: 10px;
}
#main-head{
	font-size: 36px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 48px;
}
.item-flex{
	width: 100%;
	height: 100%;
	
}
a{
	text-decoration: none;
}
.checkout-img{
	width: 80px;
    min-width: 80px;
    border-radius: 5px;
    margin-right: 16px;
	height: 105px;
}

.prod-info{
	display: flex;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    background-color: white;
    max-width: 600px;
    padding: 16px;
    margin-bottom: 16px;
	width: 100%;
	height: 30%;
	margin-top: 50px;
}
.prod-name{
	font-weight: 600;
    margin: 0;
    margin-bottom: 4px;
    font-size: 18px;
}
#price-div span{
	color: black;
    opacity: 0.8;
    font-size: 24px;
    font-weight: 800;
    margin-left: 4px;
	padding-top: 12px;
}
#chk-detail p{
	margin: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}
#chk-detail{
	display: flex;
}
#price-div{
	width: 100%;
    height: fit-content;
    margin-top: 48px;
    margin-left: 3%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    padding: 16px;
	margin-bottom: 120px;
}
.total-item {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
}
#detail-div{
	margin-top: 120px;
	padding: 2% 8%;
    box-sizing: border-box;
}
#detail-div button{
	background-color: #009688;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 18px 36px;
    border-radius: 6px;
    margin-top: 36px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    color: white;
}
footer{
    width: 100%;
    background-color: #1c1b1e;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 16px 8%;
}

.footer-heading{
  text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: white;
    opacity: 0.9;
    letter-spacing: 1px;
}
footer p{
  text-decoration: none;
    color: white;
    display: block;
    margin-top: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.8;
}
footer div{
  padding: 20px 50px;
}
#edyoda-logo {
    width: 128px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
#navbar{
	display: flex;
	flex-direction: row;
}
@media(max-width:768px) {
	#navbar{
		display: none;
	}
	#search-div{
		display: none;
	}
	#avatar{
		display: none;
	}
	#chk-detail{
	display: flex;
    flex-direction:column;	
	}
	footer{
	display: flex;
    flex-direction:column;	
	}
}
